
#screenshot.gallery {
	position: relative;
}
#screenshot.gallery:hover .prev,
#screenshot.gallery:hover .next,
#screenshot.gallery:hover .indicator {
	opacity: 1;
}
#screenshot.gallery .prev,
#screenshot.gallery .next {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2em;
	padding: 10px;
	color: #fff;
	z-index: 100;
	cursor: pointer;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: 200ms linear opacity;
}
#screenshot.gallery .next {
	right: 0;
}
#screenshot.gallery .prev {
	left: 0;
}
#screenshot.gallery .indicator {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0,0,0,.5);
	padding: .5em;
	padding-bottom: 0;
	opacity: 0;
}
#screenshot.gallery .indicator a {
	background: #666;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    margin: .2em;
    display: inline-block;
}
#screenshot.gallery .indicator a.active {
	background: #ccc;
}


#screenshot img.fixed
{
	height:auto;
}

.multiscreenshot
{
	cursor:e-resize;
}

.loading
{
	cursor:wait;
}

.platform1,.typei,.platformiconlist,.platform,.type,.awards img,.r2 img,#prodvote label,input
{
	image-rendering: pixelated;	
}

.hidden
{
	display:none;
}

.playyoutubelink
{
	cursor:pointer;
	display:block;
	margin-top:5px;
}


.settingspanel
{
	position: absolute;
	top:5px;
	right:50px;
	width:400px;
	height:400px;
	background: #224488;
	padding:20px;

}

.settingsbutton
{
	position: absolute;
	top:5px;
	right:5px;
	width:40px;
	height:40px;
	cursor:pointer;
	border-radius: 5px;
	display: block;
	image-rendering: pixelated;

	background: #224488 url(https://content.pouet.net/avatars/pepper.gif);
	background-size: 32px;
	background-position: center center;
	background-repeat: no-repeat;
}

.pes-button
{
	background-color: white;
	border-radius: 5px;
	padding:5px;
	padding-left: 10px;
	padding-right: 10px;
	color:#000;
	margin-right: 10px;
}


#screenshot
{
	padding:0px !important;
	background-color: black !important;
}

#pouetbox_prodmain td img
{
	margin-bottom:-4px;
}


