
#screenshot img.fixed
{
	max-width:640px;
	height:auto;
}

.multiscreenshot
{
	cursor:e-resize;
}

.loading
{
	cursor:wait;
}

.platform1,.typei,.platformiconlist,.platform,.type,.awards img,.r2 img,#prodvote label,input
{
	image-rendering: pixelated;	
}

.hidden
{
	display:none;
}

.playyoutubelink
{
	cursor:pointer;
	display:block;
	margin-top:5px;
}